
<main id="main">

    <!-- ======= Works Section ======= -->
    <section class="section site-portfolio" style="padding-bottom: 0;">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
            <h2>Hey, I'm Du Tran</h2>
            <p class="mb-0">Junior Graphics Designer And .Net Fullstack Developer</p>
          </div>
          <div class="col-md-12 col-lg-6 text-start text-lg-end" data-aos="fade-up" data-aos-delay="100">
            <div id="filters" class="filters">
              <a href="#" data-filter="*" class="active">All</a>
              <a href="#" data-filter=".web">My-Blog</a>
              <a href="#" data-filter=".design">Design</a>
              <a href="#" data-filter=".branding">Branding</a>
              <a href="#" data-filter=".photography">Photography</a>
            </div>
          </div>
        </div>
        
      </div>
    </section><!-- End  Works Section -->
</main>